@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    background-image: url(/istockphoto-1183632265-612x612.jpg);
}

.chat_section{
    width: 65vw;
    max-width: 90%;
    background-color: rgb(218, 218, 218);
    -webkit-box-shadow: 18px -3px 23px -12px rgba(82,79,82,1);
    -moz-box-shadow: 18px -3px 23px -12px rgba(82,79,82,1);
    box-shadow: 18px -3px 23px -12px rgba(82,79,82,1);
   
   
}

.brand-head{
    padding: 15px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand-head h1{
 text-transform: capitalize;
 font-size: 1.3rem;
 color: #444;
 margin-left: 10px;
}

.mssg-area{
    height: 65vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

.mssg{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 25vw;
    max-width: 300px;
    position: relative;
    line-height: 1.3;
}
.mssg h4{
    position: absolute;
    top: -22px;
    left: 0;
    font-size: 1rem;
    color:rgb(0, 0, 0);
    font-weight: 500;
}

.incoming{
    background: #ff8800;
    color: #fff; 
    width: 15vw;
    max-width: 25vw;
    height: auto;
}
.outgoing{
    background: hsla(116, 100%, 51%, 0.808);
    color: #ffffff;
    margin-left: auto;
}


textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 1rem;
    outline: none;
    background-color: #fbfbfb;
    overflow:"hidden";
    resize: none;
    scrollbar-width:5px;
}



@media (max-width:400px) {
    .chat_section{
        width: 100vw;}
    .mssg{
        width: 200px;
        max-width: 300px;
    }
    .mssg-area{
        height: 65vh;}
    .logoname{
        display: none;
    }
    body{
        min-height: 90vh;
    }
    
}
